// ******************* Scrollbar style customization *******************
* {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(44, 48, 73, 0.3);
    box-shadow: inset 0 0 6px rgba(44, 48, 73, 0.3);
    border-radius: 4px;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(44, 48, 73, 0.3);
    box-shadow: inset 0 0 6px rgba(44, 48, 73, 0.3);
    background-color: #c4302b !important;
    -moz-background-color: #c4302b !important;
  }
}
// ******************* End of Scrollbar style customization *******************


// ******************* Transition *******************
.slide-fade-enter-active {
  transition: all 0.7s ease;
}

.slide-fade-leave-active {
  transition: all 0.7s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
// ******************* End of Transition *******************


// ******************* Vuetify style customization *******************

.theme--light.v-text-field--box>.v-input__control>.v-input__slot,
.theme--light.v-text-field--outline>.v-input__control>.v-input__slot {
  border: 1px solid rgb(255, 255, 255) !important;
  margin-bottom: unset !important;
  caret-color: white !important;
}

.v-input .v-label {
  height: 30px !important;
  line-height: 30px !important;
  top: auto !important;
  font-size: 0.8em !important;
  color: #fff !important;
}

.v-input__icon {
  height: 0px !important;
  min-width: 8px !important;
  width: 10px !important;

  .v-icon {
    font-size: 19px !important;
    color: #fff !important;
  }
}

.v-text-field--box>.v-input__control>.v-input__slot,
.v-text-field--outline>.v-input__control>.v-input__slot {
  min-height: 10px !important;
  height: 33px !important;
  font-size: 12px !important;
  color: #fff !important;
}

.v-text-field--outline input {
  margin-top: 2px !important;
  color: #fff !important;
}

.nav-search-field {
  .v-text-field--box input {
    margin-top: 2px !important;
    color: black !important;
  }

  .v-input__icon .v-icon {
    font-size: 19px !important;
    color: #c4302b !important;
  }
}
// ******************* End of Vuetify style customization *******************

a {
  text-decoration: unset;
  color: unset;
}